r_dir_file(system_server, sysfs_battery_supply)
allow system_server sysfs_battery_supply:file { getattr open read write };
allow system_server sysfs:file {read open getattr};